<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/big-mountainก.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Private Policy</h1>
                    <h2 class="subheading">หนังสือให้ความยินยอมในการเปิดเผยข้อมูลส่วนบุคคล</h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">ข้อกำหนดและเงื่อนไขการใช้บริการ</h2>
                <p>ข้อกำหนดและเงื่อนไขฉบับนี้ ถือเป็นข้อตกลงระหว่าง Nudthaya และ </p>
                <p>ข้าพเจ้า ซึ่งเป็นผู้ใช้บริการ (“ลูกค้า”หรือ”ผู้ใช้บริการ”) ของ Nudthaya ยินยอมให้ Nudthaya เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของข้าพเจ้าที่มีอยู่ภายใต้ข้อกำหนดและเงื่อนไข</p>
                <p>Nudthaya ให้ความสำคัญกับความเป็นส่วนตัวของท่าน Nudthaya จึงขอความยินยอมจากท่าน เพื่อการเก็บรวบรวม ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคลของท่านที่ได้ให้ไว้แก่ Nudthaya สำหรับวัตถุประสงค์ดังต่อไปนี้</p>
                <li>เพื่อนำเสนอผลิตภัณฑ์และ/หรือบริการของ Nudthaya ที่เหมาะสมกับท่าน</li>
                <li>เพื่อบริการให้ตรงตามความต้องการของท่าน</li>
                <li>เพื่อปฏิบัติหน้าที่ตามกฎหมาย</li>
                <h2 class="section-heading">แหล่งที่มาของข้อมูลส่วนบุคคล</h2>
                <li><b>จากท่านโดยตรง</b> เช่น ข้อมูลที่ท่าได้กรอกขณะลงทะเบียนใช้บริการ Nudthaya</li>
                <li><b>เทคโนโลยีการติดตาม (tracking technology)</b> เมื่อท่านใช้งานเว็บไซต์ของเรา</li><br>
                <p>ทั้งนี้ เพื่อประโยชน์ในการปรับปรุงข้อมูลส่วนบุคคลของท่านให้เป็นปัจจุบัน และเพื่อปรับปรุงคุณภาพและประสิทธิภาพของผลิตภัณฑ์และการให้บริการของ Nudthaya ให้ดียิ่งขึ้น</p>
                
                <h2 class="section-heading">ระยะเวลาในการเก็บรวบรวมข้อมูลส่วนบุคคล</h2>
                <p>Nudthaya จะเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้เป็นระยะเวลาเท่าที่จำเป็นเพื่อการดำเนินการตามวัตถุประสงค์ที่ระบุไว้ให้เสร็จสิ้น เว้นแต่กรณีที่กฎหมายกำหนดหรืออนุญาตให้เก็บรักษาข้อมูลไว้นานกว่า ซึ่งอาจมีกำหนดประมาณ 5 - 10 ปี หรือเกินกว่านั้นเท่าที่จำเป็น เช่น ตามอายุความที่กฎหมายกำหนดสำหรับเรื่องที่เกี่ยวข้อง เพื่อการดำเนินคดี หรือเพื่อการตรวจสอบของหน่วยงานที่กำกับดูแล</p>
                
                <h2 class="section-heading">การเปิดเผยข้อมูลส่วนบุคคล</h2>
                <p>Nudthaya จะไม่เปิดเผยข้อมูลส่วนบุคคลต่อบุคคลใดโดยไม่ได้รับความยินยอมจากท่านก่อน</p>
                <p>ทั้งนี้ ข้อมูลส่วนบุคคลที่ Nudthaya ได้รับจากท่าน จะถูกเก็บไว้บนศูนย์ข้อมูล (Cloud) ของผู้ให้บริการประมวลข้อมูลซึ่งเป็นบุคคลภายนอกและมีเซิร์ฟเวอร์ตั้งอยู่ทั้งในประเทศไทยและในต่างประเทศ ทั้งนี้ การถ่ายโอนข้อมูลส่วนบุคคลของท่านไปยังผู้ให้บริการประมวลผลข้อมูลภายนอกดังกล่าว มีวัตถุประสงค์เพื่อความปลอดภัยในการเก็บรักษา การสำรองข้อมูล บริการเรียกข้อมูล และเพื่อประโยชน์ในการให้บริการ ซึ่งได้ตรวจสอบและเลือกผู้ให้บริการอย่างรอบคอบและมีข้อตกลงเกี่ยวกับมาตรการในการรักษาความปลอดภัยของข้อมูลและขอบเขตการประมวลผลข้อมูลกับผู้ให้บริการที่เกี่ยวข้อง โดยในกรณีที่ผู้ใช้บริการให้ข้อมูลส่วนบุคคลแก่ Nudthaya จะถือว่าผู้ใช้บริการได้ให้ความยินยอมในการถ่ายโอนข้อมูลข้ามพรมแดนและการเก็บรักษาข้อมูลส่วนบุคคลของลูกค้าในต่างประเทศเพื่อวัตถุประสงค์ดังกล่าวข้างต้น</p>
                
                <h2 class="section-heading">สิทธิของเจ้าของข้อมูลส่วนบุคค</h2>
                <li><b>การแก้ไข หรือลบข้อมูลส่วนบุคคล</b> ท่านสามารถแก้ไข้ข้อมูลส่วนบุคคลได้ตลอดเวลาผ่านทางเว็บไซต์</li>
                <li><b>การยกเลิกความยินยอม</b> ท่านสามารถยกเลิกความยินยอมข้อมูลส่วนบุคคลของท่านที่ได้ให้ไว้กับทาง Nudthaya ได้ตลอดเวลา</li>
                <li><b>การร้องเรียน</b> ท่านมีสิทธิร้องเรียนต่อคณะกรรมการผู้เชี่ยวชาญตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคลในกรณีที่ Nudthaya ฝ่าฝืนหรือไม่ปฏิบัติตามพระราชบัญญัติหรือประกาศที่ออกตามพระราชบัญญัติดังกล่าว</li>
                
                <h2 class="section-heading">ผลการเพิกถอนความยินยอม</h2>
                <p>เจ้าของข้อมูลส่วนบุคคลอาจเพิกถอนความยินยอมที่ให้ Nudthaya เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลดังกล่าวข้างต้น โดยแจ้งให้เราทราบและเราอาจขอทราบถึงเหตุผลแห่งการเพิกถอนความยินยอมของเจ้าของข้อมูลส่วนบุคคล</p>
                <p>ซึ่งจะไม่ส่งผลกระทบต่อการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล ที่เจ้าของข้อมูลส่วนบุคคลได้ให้ความยินยอมไปแล้วก่อนหน้านั้น</p>
                <p>ในกรณีที่เจ้าของข้อมูลส่วนบุคคลประสงค์ที่จะเพิกถอนความยินยอม ให้เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล จะมีผลกระทบต่อผู้เพิกถอนการให้ความยินยอมเกี่ยวกับการพิจารณาสิทธิพิเศษต่างๆ จาก Nudthaya หรือการให้บริการลูกค้าหรือการให้บริการใดๆ จาก Nudthaya</p>
                
                <h2 class="section-heading">ช่องทางการติดต่อ</h2>
                <p>หากท่านมีข้อสงสัยหรือข้อแนะนำเกี่ยวกับวิธีปฏิบัติของ Nudthaya เกี่ยวกับการจัดการข้อมูลส่วนบุคคล ท่านสามารถแจ้งได้ทาง <u>nudthayaok@gmail.com</u> หรือช่องทาง social-online ด้านล่างเว็บไซต์</p><br>
                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        ข้าพเจ้าได้อ่านและเข้าใจข้อกำหนดและเงื่อนไขในการเปิดเผยข้อมูลส่วนบุคคล ซึ่งระบุไว้ด้านบนของความยินยอมนี้อย่างชัดเจนแล้ว
                    </label>
                </div><br>
                <button type="button" class="btn btn-light">ย้อนกลับ</button>
                <button type="button" class="btn btn-primary pull-right" disabled>ถัดไป</button>
            </div>
        </div>
    </div>
</article>