<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/pistachios.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>ทำไมต้องเป็น Pistachio ?</h1>
                    <!-- <h2 class="subheading">ชื่อไลน์ก็ขื่อนี้ เวลาเล่นเกมก็ต้องชื่อนี้</h2> -->
                    <span class="meta">
                        Posted by
                        <a href="#!">Nudthaya K</a>
                        on May 04, 2023
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>ถ้าใครที่สนิทกับเราจริงๆ จะรู้ว่าเราชอบใช้ชื่อแทนตัวเองหรือนามแฝง ว่า Pistachio ปกติก็น่าจะเห็นกันในไลน์ แต่นอกเหนือจากนั้นโดยเฉพาะในเกม เรามักจะตั้งเป็นชื่อนี้เสมอ</p>
                <p>เหตุผลแรกเริ่มเลยก็คือชอบกินแหละ มันอร่อย แล้วก็ราคาค่อนข้างสูง ถ้าเทียบกับถั่วชนิดอื่นๆอะนะ สำหรับเราเรากินมันได้ไม่บ่อยนักในช่วงเด็กๆ ก็เพราะราคานี่แหละ</p>
                <h2 class="section-heading">ผลไม้แห่งความสุข</h2>
                <p>รู้ไหมว่าในภาษาจีน คำว่า pistachio (开心果) อ่านว่า Kāixīn guǒ ซึ่ง Kāixīn แปลว่า มีความสุข คล้ายๆกับคำว่า happy ในภาษาอังกฤษ ส่วน guǒ แปลว่า ผลไม้ ทำให้รวมๆแล้ว แปลได้ประมาณว่าผลไม้ที่มีความสุข</p>
                <p>ทำให้เป็นคำศัพท์ที่เอาไว้ใช้เรียกคนที่ร่าเริงแจ่มใสอีกด้วย ซึ่งสาเหตุที่เจ้าถั่วได้ชื่อนี้มา ก็เพราะว่ารูปทรงถั่วที่ปากมันจะแง้มออกเล็กน้อย ทำให้ดูเหมือนคนกำลังยิ้มอยู่นั้นเอง ด้วยเหตุนี้เราก็เลยยิ่งชอบชื่อนี้มากขึ้นไปอีก</p>
                <a href="#!"><img class="img-fluid" src="assets/pistachio-eye-removebg.png" alt="..." /></a>
                <span class="caption text-muted">เหมือนไดโนเสาร์มากกว่าถั่ว</span>
                <p>
                    Placeholder text by
                    <a href="#!">Nudthaya K</a>
                    &middot; Images by
                    <a href="#!">Nudthaya K</a>
                </p>
            </div>
        </div>
    </div>
</article>