<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/home.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>PISTACHIO</h1>
                    <span class="subheading">- Personal Blog -</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a routerLink="/blog-pistachio">
                    <h2 class="post-title">ทำไมต้องเป็น Pistachio</h2>
                    <!-- <h3 class="post-subtitle">ถ้าสนิทกันจริง จะรู้ว่าเราชอบใช้ชื่อแทนตัวเองว่า Pistachio เหตุผลก็เริ่มมาจาก...</h3> -->
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Nudthaya K</a>
                    on May 04, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a routerLink="/blog-sea-or-mountain">
                <h2 class="post-title">ทะเลหรือภูเขา</h2></a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Nudthaya K</a>
                    on May 01, 2023
                </p>
            </div>
        </div>
    </div>
</div>
