<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/big-mountain.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>ทะเล VS ภูเขา</h1>
                    <h2 class="subheading">คำถามยอดฮิต สำหรับสายเที่ยว</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Nudthaya K</a>
                        on May 04, 2023
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <blockquote class="blockquote">คำถามยอดฮิต ทะเล vs ภูเขา สำหรับเราแล้วขอตอบว่า น้ำตก 5555</blockquote>
                <h2 class="section-heading">พูดถึงทะเล</h2>
                <p>เราเกิดที่ชลบุรี เวลาไปเที่ยวก็จะแถบๆภาคตะวันออก ไม่ได้ไปไหนไกลมาก ก็จะมีแต่ทะเลนั่นแหละ ไปตั้งแต่ทะเลที่เป็น Landmark หรือจะเป็นทะเล ที่น้ำใสจนเห็นทรายข้างล่างสุดลูกหูลูกตา หาดที่มีทรายนิ่มๆ สมัยช่วงที่ internet ยังไม่บูม คนน้อยและขยะก็ไม่เยอะ เราก็ไปมาหมดแล้ว ก็เลยไม่รู้สึกว้าวเท่าไหร่มั้ง</p>
                <a href="#!"><img class="img-fluid" src="assets/phuket.JPG" alt="..." /></a>
                <span class="caption text-muted">Phuket</span>
                <h2 class="section-heading">ภูเขาหรือภูเผา</h2>
                <p>ก็เลยจะชอบไปทางภูเขามากกว่า รู้สึกมันมีกิจกรรมให้ทำบ้าง เดินๆชมธรรมชาติ แต่ภูเขาหัวโล้นก็ไม่ไหว ก็เมืองไทยมันร้อนอะ ภูเขาที่ไม่มีน้ำตกเลย ต้นไม้ส่วนใหญ่จะแห้งเหี่ยว ถ้ามีต้นใหญ่ก็จะมีต้นเดียวโดดๆ ใบไม้น้อยไม่มีร่มเงา บางทีต้นก็ไม่สูงมาก เดินๆแล้วเหมือนซ้อมตกนรกเลยแหละ</p>
                <a href="#!"><img class="img-fluid" src="assets/khao-chang-puak.jpg" alt="..." /></a>
                <span class="caption text-muted">Khao Chang Puak - Kanchanaburi</span>
                <h2 class="section-heading">น้ำตก</h2>
                <p>นี่แหละตอบโจทย์ ได้เดินๆ ไม่ร้อนมาก ต้นไม้แน่นๆ แต่ทางจะเดินยากลื่นล้มได้ง่าย ทางเปียกเลอะบ้าง แต่ก็สู้เหงื่อไม่ได้หรอก 555 พอเดินเหนื่อยๆ จนไปถึงน้ำตกแล้วได้เห็นน้ำตกนะ เป็นอะไรที่หายเหนื่อยมากๆเลยแหละ ฮีลใจสุดๆ</p>
                <a href="#!"><img class="img-fluid" src="assets/erawan.jpg" alt="..." /></a>
                <span class="caption text-muted">Erawan Waterfall - Kanchanaburi</span>
                <p>
                    Placeholder text by
                    <a href="#!">Nudthaya K</a>
                    &middot; Images by
                    <a href="#!">Nudthaya K</a>
                </p>
                
            </div>
        </div>
    </div>
</article>